<div class="text-center">
  <br><br>
  <button style="color:white" mat-button class="button" (click)="toggleAddAdministratorForm()">Ajouter un administrateur</button>
</div>
<div>
  <ng-container *ngIf="isAddingAdmninistrator">
    <form [formGroup]="addAdmninistratorForm" (ngSubmit)="addAdministrator()" class="add-center-form">
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Nom de famille</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Mail</mat-label>
        <input matInput formControlName="mail">
      </mat-form-field>
      <mat-form-field>
        
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Centre de vaccination</mat-label>
        <mat-select formControlName="selectedCenter">
          <mat-option *ngFor="let center of vaccinationCenters" [value]="center.id">
            {{ center.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button type="submit" class="button">Ajouter l'administrateur</button>
    </form>
    
  </ng-container>
</div>
<mat-card *ngFor="let administrator of admninistrators">
  <div class="card">
    <mat-card-header>
      <mat-card-title>Prénom : {{ administrator?.firstName || 'No Name' }}</mat-card-title>
      <mat-card-title>Nom de famille : {{ administrator?.lastName || 'No City' }}</mat-card-title>
      <mat-card-title>mail : {{ administrator?.mail || 'No Address' }}</mat-card-title>
      <mat-card-title>Numéro de téléphone : {{ administrator?.phone || 'No Address' }}</mat-card-title>
      
    </mat-card-header>
    
    <mat-card-actions>
      <button  class= "action_button" (click)="selectCenterForModification(administrator)" style="color:white" mat-button>Modifier</button>
      <button class= "action_button" (click)="deleteCenter(administrator.id)" style="color:white"mat-button >Supprimer</button>
    </mat-card-actions>
    
    
    <ng-container *ngIf="selectedAdmin=== administrator">
      <form [formGroup]="modificationForm" (ngSubmit)="submitModification()">
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Nom de famille</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Mail</mat-label>
          <input matInput formControlName="mail">
        </mat-form-field>
        <mat-form-field>
          
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Centre de vaccination</mat-label>
          <mat-select formControlName="selectedCenter">
            <mat-option *ngFor="let center of vaccinationCenters" [value]="center.id">
              {{ center.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <button mat-button type="submit">Modifier</button>
      </form>
    </ng-container>
  </div>
</mat-card>

