<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Centre de réservation</span>
    <span class="spacer"></span> 
    <a routerLink="/doctors" style="color:white;text-decoration: none;margin-right:40px">Liste des docteurs</a>

    <a routerLink="/vaccinations" style="color:white;text-decoration: none;margin-right:40px">Liste des vaccins</a>

    <a routerLink="/patients" style="color:white;text-decoration: none;margin-right:40px">Liste des patients</a>
    <a routerLink="/administrators" style="color:white;text-decoration: none;margin-right:40px">Liste des administrateur</a>
    <a routerLink="/centers" style="color:white;text-decoration: none;margin-right:50px">Liste des centres</a>
    <a routerLink="/login" style="color:white;text-decoration: none">Login</a>

  </mat-toolbar-row>
</mat-toolbar>