.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form,
.register-form {
  border: 2px solid #673ab7;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}
